body{
  margin: 0;
}
.Nav{
  background-color: rgb(42, 40, 40);
  padding: 10px;
  text-align: center;
}
.Nav ul li{
  list-style: none;
  display: inline;
  margin: 50px;
  color: white;
  font-size: 1.5em;
}
.link{
  text-decoration: none;

}
.Nav ul li:hover{
  color: rgb(122, 204, 255);
}
.img{
  background-image: url(./image.jpg);
  width: 100%;
  
}
.table,tr,td,th {
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
  background-color: lightgray;
  text-align: center;
  margin:20px auto;
  font-size: 1em;
}
.text{
  text-align: center;
  margin: auto;
  width: 80%;
  color: brown;
  font-size: 1.5em;
}

.flex{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.copy{
  text-align: center;
  background-color: rgb(37, 35, 35);
  color: aliceblue;
  padding: 10px;
}